* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  max-width: 100vw;
  // overflow-x: hidden;
  background-color: #1a1a1a;
}
a {
  color: inherit;
  text-decoration: none;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
/* ローディング中のやつ */
.LoadMain {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeout 6s;
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* blogのスタイル */
.title {
  font-size: 40px;
  font-weight: bold;
  // border-bottom: 1px solid #666666;
  text-align: center;
}
.blog > h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 1px solid #666666;
}
.blog > h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 40px 0 16px;
  border-bottom: 1px solid #ddd;
}
.blog > h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 40px 0 16px;
  border-bottom: 1px solid #ddd;
}
.blog {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.7;
  color: rgb(var(--foreground-rgb));
}
.blog ul {
  list-style-type: disc;
  margin-left: 2rem;
  padding-left: 10px;
}
.blog ol > li {
  font-weight: bold;
  padding: 3px;
}
.blog ol > li::marker {
  color: rgb(var(--foreground-rgb));
}
.blog ul > li::marker {
  color: rgb(var(--foreground-rgb));
}
.blog ol {
  list-style-type: decimal;
  margin-left: 2rem;
  padding-left: 10px;
}
.blog li {
  font-size: 1rem;
}
.blog ul > li {
  padding: 3px;
}
.blog a {
  color: #3498db; /* Blue link color */
  text-decoration: none;
  transition: color 0.2s;
}
.blog a:hover {
  color: #2980b9; /* Slightly darker blue on hover */
  text-decoration: underline;
}
.blog div {
  position: relative;
}

.blog code {
  // background-color: #141313;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  font-family: "Fira Code", monospace; /* Monospace font for code */
}
.blog blockquote {
  border-left: 5px solid #b6c9d6; /* Matching blue border */
  padding-left: 1rem;
  margin: 10px;
  margin-left: 2rem;
  font-style: italic;
  color: rgb(var(--foreground-rgb)) !important;
}
.blog hr {
  border: none;
  border-top: 2px solid #ecf0f1; /* Light grey border */
  margin: 1.5rem 0;
}
.blog img {
  max-width: 70%;
  height: auto;
  display: block;
  margin: 3rem 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow */
}
.index_img {
  width: 700px;
  height: 260px;
  object-fit: fill;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}
//syntaxハイライトの記述
/* コードブロック */
pre {
  overflow-x: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 5px;
  padding: 15px;
}
/* コードブロック(ファイル名が入力ありの場合) */
div[data-filename] {
  margin-top: 16px;
  margin-bottom: 16px;
}
div[data-filename] > span {
  display: inline-block;
  background-color: #333333;
  text-align: center;
  padding: 3px 15px;
  border-radius: 5px 5px 0px 0px;
}
div[data-filename] > pre {
  margin-top: 0px;
  border-top-left-radius: 0px;
}

// スライダー
.slideWrapper {
  max-width: 100%;
}
.slideImage {
  aspect-ratio: 1/1;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .slideImage {
    aspect-ratio: initial;
  }
}

// more blogsボタンのアクション
.to-blog-animation {
  position: relative;
  width: 150px; /*サイズは自由に変更してください。*/
  height: 50px; /*サイズは自由に変更してください。*/
  color: white;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  overflow: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-indent: 0;
}

.to-blog-animation:hover {
  color: #fff;
  text-indent: -40%;
}

.to-blog-animation:before {
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #7d92ee;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.to-blog-animation:hover:before {
  left: 0;
}

.to-blog-animation:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -7px;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-left: 10px solid rgba(255, 255, 255, 1);
  -webkit-transition: all 0.1s ease 0.25s;
  transition: all 0.1s ease 0.25s;
  right: -20px;
}

.to-blog-animation:hover:after {
  right: 0px;
}
