/* 共通のフレックスボックススタイル */
.links,
.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

/* WIPテキストのスタイリング */
.wip {
  color: #ccc;
  font-size: 20px;
}

.links {
  position: absolute;
  bottom: 10%;
  overflow-x: auto;
  height: 100vh;
}

/* リンクのスタイリング */
.link {
  flex: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.link:hover {
  transform: scale(1.1);
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.9),
    inset 0 0 20px rgba(0, 0, 0, 0.3), inset 0 0 40px rgba(255, 255, 255, 0.2);
}

/* Welcomeメッセージのスタイリング */
.welcome {
  position: absolute;
  top: 20%;
  font-size: 48px;
  color: white;
  opacity: 0;
  animation: fadeInGlow 4s ease-out forwards;
}

/* テキストのフェードインと光るアニメーション */
@keyframes fadeInGlow {
  0% {
    opacity: 0;
    text-shadow: none;
  }
  50%,
  100% {
    opacity: 1;
    text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #ffaa00,
      0 0 70px #ffaa00, 0 0 80px #ffaa00, 0 0 100px #ffaa00, 0 0 150px #ffaa00;
  }
}
